<ion-view title="Medicines" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-clipboard"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="medicines-list2">
      <ion-item class="royal" id="medicines-list-item3">Panadol 17782 - Blue bills</ion-item>
      <ion-item class="royal" id="medicines-list-item4">Panadol 17782 - Blue bills</ion-item>
    </ion-list>
  </ion-content>
</ion-view>